/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

  /* barra1 */

  /* barra2 */

  /* barra3 */

/* section presentazione */

/* section servizi */

  /* blocco slogan */

  /* blocco free */

  /* blocco MarketingHub */

/* section caratteristiche */

/* section growing */

  /* blocco customer */

  /* blocco start */

/* footer */

  /* liste */

  /* lingue */

  /* finale */
