/* generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

  /* barra1 */
  .barra1 {
    width: 100%;
    height: 40px;
    background-color: rgb(51,71,91);
    line-height: 45px;
  }

  .barra1::after {
    content: "";
    display: table;
    clear: both;
  }

    .elencologo {
      float: left;
      width: 40% ;
      margin-left: 10%;
      margin-right: 25%;
      list-style-type: none;
      font-size: 12px;
      color: white;
      text-align: center;
    }

    .elencologo::after {
      content: "";
      display: table;;
      clear: both;
    }

      .elencologo li {
        float: left;
        width: 20%;
      }

        .elencologo li a {
          text-decoration: none;
          color: white;
        }

        .elencologo li img {
          height: 5vh;
          padding-top: 5px;
        }

    .login {
      float: right;
      width: 15% ;
      margin-right: 10%;
      list-style-type: none;
      font-size: 12px;
      text-align: center;
    }

    .login::after {
      content: "";
      display: table;
      clear: both;
    }

      .login li {
        float: left;
        width: 25%;
      }

        .login li a {
          text-decoration: none;
          color: black;
        }

        #nome {
          color: white;
        }

  /* barra2 */
  .barra2 {
    width: 100%;
    height: 40px;
    background-color: rgb(226, 226, 226);
  }

  .barra2::after {
    content: "";
    display: table;
    clear: both;
  }

    .english-sales {
      float: left;
      width: 30%;
      margin-left: 20%;
      color: rgb(51,71,91);
      list-style-type: none;
      font-size: 12px;
      line-height: 35px;
    }

    .english-sales::after {
      content: "";
      display: table;
      clear: both;
    }

      .english-sales li {
        float: left;
      }

    .search{
      float: right;
      width: 20%;
      margin-right: 20%;
      list-style-type: none;
      font-size: 12px;
      text-align: right;
      line-height: 23px;
    }

      .search a {
        color: white;
        background-color: rgb(255, 122, 89);
        padding: 3% 5%;
        text-decoration: none;
        border: 1px solid black;
      }

  /* barra3 */
  .barra3 {
    width: 100%;
    height: 40px;
    background-color: white;
    padding-bottom: 3%;
  }

  .barra3::after {
    content: "";
    display: table;
    clear: both;
  }

    .logoesteso {
      float: left;
      width: 10%;
      margin-left: 20%;
      margin-right: 30%;
    }

      .logoesteso img {
        height: 5vh;
      }

    .menu {
      float: right;
      width: 20%;
      list-style-type: none;
      font-size: 12px;
      margin-right: 20%;
      line-height: 35px;
    }

    .menu::after {
      content:"";
      display: table;
      clear: both;
    }

      .menu li {
        float: left;
        color: rgb(51,71,91);
      }

/* section presentazione */
.presentazione {
  background-image: url("../img/Sfondo.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: 120px;
}

  .titolo {
    width: 30%;
    margin-left: 20%;
    color: rgb(51,71,91);
    padding-top: 5%;
  }

    .titolo h1 {
      font-weight: bold;
      font-size: 30px;
    }

    .titolo p {
      font-size: 12px;
      margin: 5% 0;
    }

    .titolo a {
      color: rgb(51,71,91);
      padding: 3% 5%;
      background-color: lightblue;
      font-size: 16px;
      text-decoration: none;
      border-radius: 2px;
    }


/* section servizi */
.servizi {
  width: 100%;
  background-color: #f4f8fa;
  text-align: center;
  color: rgb(51,71,91);
}

  /* blocco slogan */
  .slogan {
    width: 65%;
    margin: 0 auto;
    padding: 2% 0;
    box-sizing: border-box;
  }

    .slogan img {
      height: 30vh;
      margin-bottom: 2%;
    }

    .slogan p {
      font-size: 12px;
      margin-top: 2%;
    }

  /* blocco free */
  .free {
    width: 65%;
    margin: 1% auto;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .free::after {
    content:"";
    display: table;;
    clear: both;
  }

  .free:hover {
    transform: scale(1.01);
  }

    .libro {
      float: left;
      width: 40%;
      text-align: center;
      padding: 2% 2%;
      box-sizing: border-box;
    }

      .libro img {
        display: block;
        margin: 0 auto;
        height: 25vh;
      }

      .libro a {
        color: white;
        padding: 2% 5%;
        background-color: rgb(255, 122, 89);
        border-radius: 2px;
        font-size: 12px;
        text-decoration: none;
      }

    .free100 {
      float: left;
      width: 60%;
      text-align: left;
      font-size: 12px;
      line-height: 15px;
      padding: 5% 0;
    }

      .free100 h3 {
        font-weight: bold;
        margin: 2% 0;
      }

        .free100 p .fas {
          color: rgb(255, 122, 89);
        }

  /* blocco MarketingHub */
  .marketinghub {
    width: 65%;
    margin: 0 auto;
    font-size: 12px;
  }

  .marketinghub::after {
    content: "";
    display: table;
    clear: both;
  }

    .bolle,
    .ufficio,
    .connessione {
      float: left;
      width: 30%;
      background-color: white;
      color: rgb(51,71,91);
      margin-bottom: 5vh;
      padding: 2% 2%;
      border-radius: 3px;
    }

    .bolle:hover,
    .ufficio:hover,
    .connessione:hover {
      transform: scale(1.01);
    }

    .ufficio {
      margin-left: 5%;
      margin-right: 5%;
    }

      .bolle img,
      .ufficio img,
      .connessione img {
        height: 77px;
      }

      .bolle p,
      .ufficio p,
      .connessione p {
        border-bottom: 1px solid black;
        padding: 5% 0;
        margin-bottom: 5%;
        text-align: left;
        font-size: 14px
      }

      .bolle ul,
      .ufficio ul,
      .connessione ul {
        margin-bottom: 10%;
      }


        .bolle ul li,
        .ufficio ul li,
        .connessione ul li {
          list-style-type: none;
          text-align: left;
          margin: 5% 0;
        }

          .bolle ul li .fas,
          .ufficio ul li .fas,
          .connessione ul li .fas {
            color: rgb(255, 122, 89);
          }

        .bolle a,
        .ufficio  a,
        .connessione  a {
          color: white;
          padding: 2% 5%;
          background-color: rgb(255, 122, 89);
          border-radius: 2px;
          font-size: 12px;
          text-decoration: none;
        }

/* section caratteristiche */
.caratteristiche {
  width: 100%;
  background-color: rgb(0,186,167);
  text-align: center;
}

  /* testo caratteristiche */
  .testocaratt {
    width: 50%;
    color: white;
    margin: 0 auto;
    font-size: 18px;
    line-height: 20px;
    padding: 2% 0;
  }

    .testocaratt p {
      font-size: 12px;
      margin-top: 2%;
    }

  /* tabella */
  .tabella {
    width: 90%;
    margin: 0 auto;
    padding: 4%;
    color: white;
  }

    /* rows */
    .row {
      width: 100%;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
    }

      .row div {
        float: left;
        width: 25%;
        border: 1px solid white;
        border-width: thin;
        padding: 2% 0;
      }

      .row.one div {
        border-top: none;
      }

      .row.one .cella1 {
        border-left: none;
      }

      .row.one .cella4 {
        border-right: none;
      }

      .row.two div {
        border-bottom: none;
      }

      .row.two .cella5 {
        border-left: none;
      }

      .row.two .cella8 {
        border-right: none;
      }

        .row div img {
          height: 5vh;
        }

        .row div h2 {
          font-size: 20px;
        }

        .row div p {
          font-size: 8px;
        }


/* section growing */
.growing {
  width: 80%;
  margin: 0 auto;
}

  /* blocco customer */
  .customer {
    width: 100%;
    margin: 0 auto;
    color: rgb(51,71,91);
    padding: 5% 0;
  }

  .customer::after {
    content: "";
    display: table;
    clear: both;
  }

    .numero {
      float: left;
      width: 20%;
      margin-right: 20%;
      font-size: 24px;
    }

      .numero p {
        font-size: 12px;
      }

    .immagini {
      float: left;
      width: 60%;
    }

      .esempi li {
        float: left;
        width: 22%;
        margin-right: 3%;
        list-style-type: none;
      }

        .esempi li img {
          width: 110px;
        }

  /* blocco start */
  .start {
    width: 100%;
    margin: 2% auto;
  }

  .start::after {
    content: "";
    display: table;
    clear: both;
  }

    .starttoday {
      float: left;
      width: 50%;
      color: rgb(51,71,91);
      font-size: 12px;
      padding: 5% 0;
    }

      .starttoday h2 {
        font-size: 24px;
      }

      .starttoday p {
        margin: 5% 0;
      }

      .starttoday a {
        color: white;
        text-decoration: none;
        background-color: rgb(255, 122, 89);
        padding: 3% 3%;
        border-radius: 3px;
      }

    .foto {
      float: left;
      width: 50%;
      text-align: center;
    }

      .foto img {
        height: 40vh;
        background-color: rgb(242, 84, 125);
        border-radius: 50%;
      }

/* footer */
footer {
  width: 100%;
  background-color: rgb(51, 71, 91);
  font-size: 12px;
  font-weight: lighter;
  color: rgb(116, 132, 148);
}

  /* liste */
  .liste {
    width: 80%;
    margin: 0 auto;
    line-height: 20px;
    padding-top: 10vh;
  }

  .liste::after {
    content: "";
    display: table;
    clear: both;
  }

    .increase {
      float: left;
      width: 25%;
      list-style-type: none;
    }

      .increase li:first-of-type {
        color: white;
        font-size: 10px;
      }

        .increase li a {
          text-decoration: none;
          font-size: 10px;
          color: rgb(116, 132, 148);
        }

        .increase li a:hover {
          color: lightblue;
        }

      .margineneg {
        margin-left: -5%;
      }

        .contact {
          background-color: white;
          color: rgb(51, 71, 91);
          padding: 3% 8%;
          border-radius: 3px;
        }

        .social {
          width: 100%;
          margin-top: 2%;
        }

        .social::after {
          content: "";
          display: table;
          clear: both;
        }

          .social li {
            float: left;
            width: 20%;
            list-style-type: none;
          }

            .social li .fab {
              color: rgb(116, 132, 148);
            }

  /* lingue */
  .lingue {
    width: 50%;
    margin: 0 auto;
    padding: 1% 0;
    text-align: center;
  }

  .lingue::after {
    content: "";
    display: table;
    clear: both;
  }

    .lingue li {
      float: left;
      width: 16%;
      list-style-type: none;
    }

  /* finale */
  .finale {
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid rgb(116, 132, 148);
    padding: 1% 0;
  }

  .finale::after {
    content: "";
    display: table;
    clear: both;
  }

    .copyright {
      float: left;
      width: 50%;
    }

      .copyright img {
        height: 5vh;
      }

    .legal-policy {
      float: right;
      width: 20%;
      margin-left: 30%;
      text-align: right;
    }

    .legal-policy::after {
      content: "";
      display: table;
      clear: both;
    }

      .legal-policy li {
        float: left;
        list-style-type: none;
        padding-left: 6%;
      }
